@import url('https://fonts.googleapis.com/css?family=Pacifico');
.box{
    margin-left:35%; 
}

.box select{
    background: #0563af;
    color: #fff;
    width: 400px;
    height: 50px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    -webkit-appearance: button;
    outline: none;
}

.box:before{
    position: absolute;
    content: '\f358';
    right:0;
    margin-right: 475px;
    width: 50px;
    height: 50px;
    background: #007ce0; 
}

.box:hover:before{
    background: #0472ca;
}